server {
    listen 80;
    server_name {{ ansible_hostname }}.devops.rebrain.srwx.net;    

    location /.well-known/acme-challenge {
        root /var/www/html;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ ansible_hostname }}.devops.rebrain.srwx.net$request_uri? permanent;
    }
}
