server {
    listen 80;
    server_name {{ systemd_name }}.devops.rebrain.srwx.net;

    location /.well-known/acme-challenge {
        root /var/www/systemd;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ systemd_name }}.devops.rebrain.srwx.net$request_uri? permanent;
    }
}

