server{
    server_name {{ ansible_fqdn }}.devops.rebrain.srwx.net;
    listen 80;
    access_log /var/log/nginx/{{ ansible_fqdn }}.access.log;
    error_log  /var/log/nginx/{{ ansible_fqdn }}.error.log;

    root /var/www/html;

    location / {
        try_files $uri /index.php$is_args$args;
    }


    location ~ ^/index\.php(/|$) {

        fastcgi_pass unix:/var/run/php/php-fpm-{{ poolname }}.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;

        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        internal;
    }

    location ~ \.php$ {
        return 404;
    }

}
