[Unit]
Description={{ service_description }}
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart=/usr/bin/php -S 127.0.0.1:8000 -t {{ app_dir }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
